.List-wrapper {
    position: relative;
    background: #e6e6e6;
    overflow: hidden;
    height: 100%;
  }
  
  .List {
    margin: 40px auto;
    width: 90%;
    position: relative;
  }
  .List > div{
    overflow: hidden;
  }
  
  .List-card {
    background: #fff;
    border-radius: 5px;
    margin: 10px auto;
    padding: 10px;
    height: 50px;
    transition:  box-shadow .5s, transform .5s;
    font-size: 14px;
    box-shadow: 0px 1px 10px rgba(44, 62, 80, 0.10);
    line-height: 10px;
  }
  
  .List-card.card-drag-selected{
    box-shadow: 0 8px 20px #E6E6E6;
    transform: scale(1.05) !important;
  }

  .List-content{
    width: 100%;
    display: inline-block;
  }
  
  .List-content p{
    margin-bottom: 5px;
    font-size: 14px;
  }
